*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.balance{
    font-family:'Arial Narrow Bold', sans-serif;
    color: rgb(2, 33, 33);
    margin: 30px;
}
.wallet-nav{
    margin: 5px;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.wallet-nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.wallet-nav-item{
    flex-grow: 1;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.451);
    padding: 10px;
    border-radius: 10px;
}
.wallet-nav-item:hover{
    background-color: rgb(12, 67, 29);
    color: rgb(255, 255, 255);
}
.deposit{
    border-radius: 20px;
    width: 50%;
    margin: auto;
    padding: 10px;
    margin-top: 20px;
    background-color: rgba(229, 223, 223, 0.852);
    color: rgb(19, 12, 2);
}

/* Table styling below */
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: auto;
  }
  
  table td, table th {
    border: 2px solid #ddd;
    padding: 8px;
  }
  
  table tr:nth-child(even){background-color: #f2f2f2;}
  
  table tr:hover {background-color: #ddd;}
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    /*background-color: #04AA6D;*/
    background-color: rgba(0, 0, 0, 0.779);
    color: white;
  }
  table button{
    font-size: 16px;
    color: rgb(23, 4, 4);
    background-color: rgb(201, 213, 201);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    border-radius: 10px;
  }
  table button a{
    text-decoration: none;
  }
  table td{
    padding: 15px;
  }
@media screen and (max-width:500px) {
    .balance{
        font-size: 11px;
        margin: 10px;
        margin-bottom: 20px;
    }
    table {
        width: 100%;
    }
    .wallet-nav{
        gap: 0.5rem;
    }
    .wallet-nav a{
        font-size: 13px;
    }
    .deposit{
        width: 90%;
    }
}